body {
  text-align: center;
  font-family: Helvetica;
  align-content: center;

}

p {
  font-size: 14px;
}

h1 {
  font-size: 70px;

}

h2 {
  font-size: 32px;
}

.header-nav {
  background: url("../images/the-flatiron-building.png");
  color: white;
  object-fit: fill;
}

h3 {
  font-size: 23px;
}

a {
  color: white;
  font-size: 18px;
  line-height: 1.5;
}

.white{
  color: white;
  background: url("../images/the-flatiron-building.png");
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  color: white;
  text-align: left;
  background-color: dimgray;

}

.copyright {
  font-size: 11px;
}
